<div class="panel panel-default">
  <div class="panel-heading reply-heading">
    <img src=<%= reply.user.image %> class = "icon_mini_image">
    <h4><%= reply.user.name %></h4>
  </div>
  <div class="panel-body panel_micropost">
    <h4><%= reply.content %></h4>
  </div>
</div>
