<div clas="row">
  <div class="col-md-4 col-sm-5 col-xs-12 sideBar user-side">
    <%= render 'user_show' %>
  </div>
  <div class="col-md-8 col-sm-7 col-xs-12">
    <% if @users.any? %>
      <%= render @users %>
      <%= paginate @users %>
    <% else %>
      <h3 class="recommend">友達を見つけましょう</h3>
    <% end %>
  </div>
</div>
