<ul>
  <li>氏名：　清水大夢</li>
  <li>Twitter：<%= link_to "https://twitter.com/time_shazam", "https://twitter.com/time_shazam" %></li>
  <li>github: <%= link_to "https://github.com/time-shimizu", "https://github.com/time-shimizu" %></li>
</ul>
