<% provide(:title, "ヘルプ") %>
<div class="panel panel-primary">
  <div class="panel-heading">ヘルプ</div>
  <div class="panel-body">
    <p>このサイトは誰でも無料で閲覧、投稿することが可能です。</p>
    <p>動画投稿、採点、返信するには、会員登録(無料)が必要です。</p>
    <%= link_to "TOPに戻る", root_path %> |
    <%= link_to "会員登録",  new_user_registration_path %>
  </div>
</div>
