/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @import "bootstrap-sprockets";
 @import "bootstrap";
 @import 'font-awesome-sprockets';
 @import 'font-awesome';

.navbar-brand{
  font-family: 'Kosugi Maru', sans-serif;
  font-size: 25px ;
  font-weight: bold;
}
.top-wrapper{
  z-index:0;
  overflow: hidden;
  color: #FFF ;
  text-align: center;
  background-color: rgba(0,0,0,0.4);
  margin-bottom: 200px;
}
.top-wrapper::before{
  content: '';
  background-image:  url('/images/mugendai.jpg');
  height: 500px;
  background-size: cover ;
  filter: blur(5px);
  position: absolute;
  top: -8px;
  left: -8px;
  right: -8px;
  bottom: -8px;
  z-index: -1;
}
.top-description{
  margin-top: 30px;
}

hr {
  border-width: 3px ;
  border-color: #F2F2F2 ;
}
.footer li{
  margin-right: 10px;
}
.footer h4{
  color: white;
  padding-top: 5px;
  margin-left: 5px;
}
.icon_image {
  width: 200px;
  height: 200px;
  border-radius: 100px;
  object-fit: cover;
}
