<nav class="navbar navbar-inverse footer">
  <ul class="nav navbar-nav navbar-right">
    <li><%= link_to "利用規約", "#" %></li>
    <li><%= link_to "お問い合わせ", "#" %></li>
  </ul>
  <h4>&copy; ねたログ 2020</h4>
</nav>
